<h4>Routes</h4>
    <p>
        <a ng-hide="authenticated" href="/login" class="btn btn-primary">Login</a>
        <!-- <a ng-hide="authenticated" href="/passwordReset" class="btn btn-primary">Send Password Reset</a>
        <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a> -->
    </p>
    <p>
        <a ng-show="authenticated" href="/logout" class="btn btn-primary">Logout</a>
        <a ng-hide="authenticated" ng-href="/register" class="btn btn-primary">Register</a>
      <!--   <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a> -->
        <a ng-show="authenticated" href="/passwordChange" class="btn btn-primary">Change Password</a>
        <a ng-show="authenticated" href="/userProfile" class="btn btn-primary">Profile</a>
        <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
    </p>
<hr/>

<hr/>
<h4>ngInclude Demo - Login</h4>
<div ng-if="show_login" ng-include="'auth/login.html'"></div>
<div ng-if="!show_login" class="alert alert-info">You have logged in.</div>


<div class="footer">
</div>

